.toolbar-sprite, .toolbar-cloud, .toolbar-dashboard, .toolbar-filemanager {
  background: url('../images/icons/toolbar-s82e670740e.png') no-repeat;
}

.toolbar-cloud {
  background-position: 0 -25px;
}

.toolbar-dashboard {
  background-position: 0 0;
}

.toolbar-filemanager {
  background-position: 0 -50px;
}

header#main_toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
  height: 49px;
  width: 100%;
  background: #201219 url(../images/app-toolbar-bk.png) repeat-x;
  border-top: 1px solid #404040;
}
header#main_toolbar ul#toolbar_nav {
  display: block;
  list-style: none;
  height: 30px;
  width: 200px;
  margin: 13px 0 0 28px;
}
header#main_toolbar ul#toolbar_nav li {
  float: left;
  width: 47px;
  height: 25px;
}

#dashboard_layout {
  width: 100%;
  min-height: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
}
#dashboard_layout #sidebar_left {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  min-width: 216px;
  width: 216px;
  min-height: 100%;
  background-color: #efebf2;
  border-right: 1px solid #a5a5a5;
}
#dashboard_layout #sidebar_left ul#left_sidebar_serverlist {
  width: 100%;
  list-style: none;
  margin: 0;
}
#dashboard_layout #sidebar_left ul#left_sidebar_serverlist li {
  width: 100%;
  height: 110px;
  background: #efebf2 url(../images/icons/sidebar-left/server-silver-small.png) no-repeat 50% 50%;
  border-bottom: 1px solid #c1c1c1;
  text-align: center;
}
#dashboard_layout #sidebar_left ul#left_sidebar_serverlist li:hover {
  background-color: #fcf7f2;
}
#dashboard_layout #sidebar_left ul#left_sidebar_serverlist li span {
  position: relative;
  top: 84px;
  font-family: Arial, Helvetica, Tahoma, sans-serif;
  font-size: 13px;
  color: rgba(33, 33, 33, 0.57);
}
#dashboard_layout #main_content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
}
#dashboard_layout #main_content #dash_performance, #dashboard_layout #main_content #dash_services, #dashboard_layout #main_content #dash_software {
  -webkit-box-flex: 42;
  -moz-box-flex: 42;
  -ms-box-flex: 42;
  box-flex: 42;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
}
#dashboard_layout #main_content #dash_performance {
  -webkit-box-flex: 16;
  -moz-box-flex: 16;
  -ms-box-flex: 16;
  box-flex: 16;
}
#dashboard_layout #main_content .performance, #dashboard_layout #main_content .services, #dashboard_layout #main_content .software {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  padding: 19px 6px 0px 22px;
  height: 100%;
  font-size: 13px;
  font-family: "Lucida Grande" sans-serif;
}
#dashboard_layout #main_content .performance span.label, #dashboard_layout #main_content .services span.label, #dashboard_layout #main_content .software span.label {
  font-weight: bold;
}
#dashboard_layout #main_content .performance h2, #dashboard_layout #main_content .services h2, #dashboard_layout #main_content .software h2 {
  display: inline-block;
  font-size: 17px;
  font-weight: normal;
  color: #616161;
}
#dashboard_layout #main_content #dash_performance, #dashboard_layout #main_content .performance, #dashboard_layout #main_content #dash_software, #dashboard_layout #main_content .software {
  background-color: #f5f5f5;
}
#dashboard_layout #main_content .performance {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  -webkit-box-pack: left;
  -moz-box-pack: left;
  -ms-box-pack: left;
  box-pack: left;
  max-height: 240px;
}
#dashboard_layout #main_content .performance .left, #dashboard_layout #main_content .performance .right {
  position: relative;
  min-height: 160px;
  padding-bottom: 0;
  text-align: center;
}
#dashboard_layout #main_content .performance .left canvas, #dashboard_layout #main_content .performance .right canvas {
  margin-top: 56px;
  margin-bottom: 7px;
}
#dashboard_layout #main_content .performance .left span.gauge-text-value, #dashboard_layout #main_content .performance .right span.gauge-text-value {
  display: block;
  position: relative;
  font-family: 'Amaranth',sans-serif;
  font-size: 24px;
  font-weight: bold;
}
#dashboard_layout #main_content .performance .left i, #dashboard_layout #main_content .performance .right i {
  position: relative;
  font-size: 11px;
}
#dashboard_layout #main_content .performance .left span.gauge-label, #dashboard_layout #main_content .performance .right span.gauge-label {
  display: block;
  position: relative;
  bottom: 36px;
}
#dashboard_layout #main_content .performance .left {
  min-width: 31%;
  margin-left: 6%;
  background-color: #f5f5f5;
}
#dashboard_layout #main_content .performance .left span.gauge-text-value {
  bottom: 71px;
  left: 0px;
}
#dashboard_layout #main_content .performance .left i {
  bottom: 96px;
  left: 30px;
}
#dashboard_layout #main_content .performance .right {
  min-width: 16%;
  background-color: #f5f5f5;
}
#dashboard_layout #main_content .performance .right span.gauge-text-value {
  bottom: 71px;
  left: 0;
}
#dashboard_layout #main_content .performance .right i {
  bottom: 97px;
  left: 21px;
}
#dashboard_layout #main_content .services {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  color: #020001;
  background-color: #ffffff;
}
#dashboard_layout #main_content .services .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  width: 100%;
  height: 100%;
}
#dashboard_layout #main_content .services .container span {
  display: block;
  margin-bottom: 8px;
}
#dashboard_layout #main_content .services .container .col {
  min-width: 135px;
  height: 100%;
  padding-top: 30px;
}
#dashboard_layout #main_content .software {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  position: relative;
}
#dashboard_layout #main_content .software h2 {
  position: absolute;
  top: 19px;
}
#dashboard_layout #main_content .software .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  width: 100%;
  margin-bottom: 25px;
}
#dashboard_layout #main_content .software .container span {
  display: block;
  margin-bottom: 10px;
}
#dashboard_layout #main_content .software .container .left {
  min-height: 100%;
  margin-left: -15%;
  padding-right: 5px;
  text-align: right;
}
#dashboard_layout #main_content .software .container .right {
  min-height: 100%;
  padding-left: 5px;
  text-align: left;
}

.login-signup-layout {
  width: 100%;
  height: 100%;
  position: relative;
}
.login-signup-layout .login-signup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -450px;
  width: 900px;
  height: 330px;
  background-color: #F7F7F7;
  border: 1px solid #dddddd;
}
.login-signup-layout .login-signup-container h2 {
  display: inline-block;
  margin: 0 0 34px 48px;
  color: #5E5E5E;
}
.login-signup-layout .login-signup-container .alert-container {
  margin: 20px 45px 0 45px;
  min-height: 36px;
}
.login-signup-layout .login-signup-container .alert-container div {
  margin-bottom: 4px;
}
.login-signup-layout .login-signup-container .login-container, .login-signup-layout .login-signup-container .signup-container {
  width: 449px;
  height: 100%;
}
.login-signup-layout .login-signup-container .login-container form, .login-signup-layout .login-signup-container .signup-container form {
  position: relative;
}
.login-signup-layout .login-signup-container .login-container form label, .login-signup-layout .login-signup-container .login-container form input, .login-signup-layout .login-signup-container .login-container form button, .login-signup-layout .login-signup-container .login-container form select, .login-signup-layout .login-signup-container .login-container form textarea, .login-signup-layout .login-signup-container .signup-container form label, .login-signup-layout .login-signup-container .signup-container form input, .login-signup-layout .login-signup-container .signup-container form button, .login-signup-layout .login-signup-container .signup-container form select, .login-signup-layout .login-signup-container .signup-container form textarea {
  font-size: 15px;
}
.login-signup-layout .login-signup-container .login-container form .controls, .login-signup-layout .login-signup-container .signup-container form .controls {
  margin-left: 94px;
}
.login-signup-layout .login-signup-container .login-container form label, .login-signup-layout .login-signup-container .signup-container form label {
  width: 75px;
}
.login-signup-layout .login-signup-container .login-container form button, .login-signup-layout .login-signup-container .signup-container form button {
  padding: 8px 20px 8px;
  line-height: 20px;
}
.login-signup-layout .login-signup-container .login-container {
  float: left;
  border-right: dashed 1px #dedede;
}
.login-signup-layout .login-signup-container .login-container form {
  padding-left: 25px;
}
.login-signup-layout .login-signup-container .login-container form button {
  position: absolute;
  right: 107px;
}
.login-signup-layout .login-signup-container .signup-container {
  float: right;
  border-left: solid 1px #f7f7f7;
}
.login-signup-layout .login-signup-container .signup-container form {
  padding-left: 40px;
}
.login-signup-layout .login-signup-container .signup-container form button {
  position: absolute;
  right: 91px;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  background-color: #f3f4f4;
  background: linear, top, #f3f4f4, #ebebeb, "left top, left bottom";
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f3f4f4', EndColorStr='#ebebeb');
}
footer div#left_sidebar_footerbar, footer div#center_footerbar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  border-top: 1px solid #d4d4d4;
}
footer #left_sidebar_footerbar {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  min-width: 216px;
  width: 216px;
}
footer #left_sidebar_footerbar ul {
  list-style: none;
  margin: 0;
}
footer #left_sidebar_footerbar ul li {
  width: 30px;
  line-height: 24px;
  padding-top: 3px;
  border-right: 1px solid #c5c5c5;
  text-align: center;
}
footer #left_sidebar_footerbar ul li a i {
  color: #424242;
}
footer #left_sidebar_footerbar ul li a:hover {
  cursor: default;
  text-decoration: none;
}
footer #left_sidebar_footerbar ul li a:hover i {
  color: #707070;
}
footer #center_footerbar {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  width: 100%;
  min-width: 100%;
  border-left: 1px solid #a5a5a5;
}

div.modal-footer.plain {
  background-color: transparent;
  border-top: none;
}

#modal_add_server {
  width: 500px;
  margin: -250px 0 0 -250px;
}

.noobtour-backdrop.body-minus-footer {
  bottom: 28px;
}
.noobtour-backdrop.footer-minus-add-server {
  top: 28px;
  bottom: 0px;
  left: 31px;
}

.noobtour-popover.popover.top .arrow {
  left: 0 !important;
  margin-left: 0 !important;
}

#server-connection-modal h3, #server-connection-modal span.connection-status {
  text-transform: capitalize;
}

body > div._contextmenu_screen_ {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  display: none;
  opacity: 1.0;
  -webkit-transition: opacity 0.15s linear;
  overflow: hidden;
  z-index: 120000;
}
body > menu {
  display: none;
}

._contextmenu_screen_ menu {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
._contextmenu_screen_ menu.fadeout {
  -webkit-transition: opacity 0.15s linear;
}
._contextmenu_screen_ menuitem {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
._contextmenu_screen_ menuitem:before {
  content: attr(label);
}
._contextmenu_screen_ > menu {
  position: fixed;
  display: none;
  cursor: default;
  z-Index: 30000;
  user-select: none;
  -webkit-user-select: none;
  list-style: none;
}
._contextmenu_screen_ menu * {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}
._contextmenu_screen_ menu menuitem {
  -webkit-user-drag: none;
}

.win7 ._contextmenu_screen_ menu {
  background: #f0f0f0 url(../images/repeat-y.png?) repeat-y;
  font-family: 'Segoe UI';
  font-size: 13px;
  padding: 4px 2px 2px 2px;
  /* text-rendering: optimizeLegibility; */
  -webkit-font-smoothing: subpixel-antialiased;
  border: 1px solid #a0a0a0;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: black;
}
.win7 menu menuitem {
  padding: 0px 5px 0px 32px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid transparent;
}
.win7 menu menuitem:hover {
  border: 1px solid #b3d0f5;
  background-color: rgba(172, 201, 255, 0.05);
}
.win7 menu menuitem[open=true] {
  border: 1px solid #b3d0f5;
  background-color: rgba(172, 201, 255, 0.05);
}
.win7 menu hr {
  height: 0px;
  border: none;
  border-bottom: 1px solid white;
  border-top: 1px solid #e0e0e0;
  margin: 4px;
  margin-left: 27px;
}
.win7 ._contextmenu_screen_ menu > .submenu:after {
  content: " ";
  display: block;
  width: 4px;
  height: 7px;
  background: url(data:image/gif;base64,R0lGODlhBAAHAIABACgoKP///yH5BAEAAAEALAAAAAAEAAcAAAIIRA4WaeyrVCgAOw==) no-repeat;
  float: right;
  position: relative;
  left: 0px;
  top: 6px;
}

.osx10_7 ._contextmenu_screen_ > menu {
  background-color: rgba(255, 255, 255, 0.94902);
  -moz-background-clip: padding;
  /* Firefox 3.6 */
  -webkit-background-clip: padding;
  /* Safari 4? Chrome 6? */
  background-clip: padding-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */
  color: black;
  font-family: 'Lucida Grande';
  border-top: 1px solid rgba(0, 0, 0, 0.08627);
  border-left: 1px solid rgba(0, 0, 0, 0.23137);
  border-right: 1px solid rgba(0, 0, 0, 0.23137);
  border-bottom: 1px solid rgba(0, 0, 0, 0.41176);
  border-radius: 5px;
  padding: 4px 0;
  -webkit-box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
.osx10_7 ._contextmenu_screen_ > menu.submenu {
  border-top-left-radius: 0px;
}
.osx10_7 ._contextmenu_screen_ menu > .submenu:after {
  content: "\25B6";
  float: right;
  position: relative;
  left: 14px;
  top: 2px;
  font-size: 12px;
  color: #404040;
}
.osx10_7 ._contextmenu_screen_ menu > .submenu:hover:after, .osx10_7 ._contextmenu_screen_ menu > .submenu[open=true]:after {
  color: white;
}
.osx10_7 ._contextmenu_screen_ menu menuitem {
  height: 19px;
  padding: 0px 19px 0px 21px;
}
.osx10_7 ._contextmenu_screen_ menu menuitem:hover, .osx10_7 ._contextmenu_screen_ menu menuitem.submenu[open=true] {
  background: #3c6ff7 url(../images/repeat-x.png) repeat-x;
  color: white;
}
.osx10_7 ._contextmenu_screen_ menu hr {
  height: 0px;
  border: none;
  /* results in background: #e3e3e3; */
  border-bottom: 1px solid #e4e4e4;
  margin: 5px 1px 6px 1px;
}

/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: Lead Product Designer @ http://kyruus.com

    */
@font-face {
  font-family: "FontAwesome";
  src: url('fonts/../../font-awesome/font/fontawesome-webfont.eot');
  src: url('fonts/../../font-awesome/font/fontawesome-webfont.eot?#iefix') format('eot'), url('fonts/../../font-awesome/font/fontawesome-webfont.woff') format('woff'), url('fonts/../../font-awesome/font/fontawesome-webfont.ttf') format('truetype'), url('fonts/../../font-awesome/font/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: middle;
  font-size: 4/3em;
}

.btn [class^="icon-"],
.btn [class*=" icon-"], .nav-tabs [class^="icon-"],
.nav-tabs [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
}

li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li .icon-large:before,
li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em;
}

ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -.8em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .8em;
}
ul.icons li .icon-large:before,
ul.icons li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */
  vertical-align: initial;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000";
}

.icon-music:before {
  content: "\f001";
}

.icon-search:before {
  content: "\f002";
}

.icon-envelope:before {
  content: "\f003";
}

.icon-heart:before {
  content: "\f004";
}

.icon-star:before {
  content: "\f005";
}

.icon-star-empty:before {
  content: "\f006";
}

.icon-user:before {
  content: "\f007";
}

.icon-film:before {
  content: "\f008";
}

.icon-th-large:before {
  content: "\f009";
}

.icon-th:before {
  content: "\f00a";
}

.icon-th-list:before {
  content: "\f00b";
}

.icon-ok:before {
  content: "\f00c";
}

.icon-remove:before {
  content: "\f00d";
}

.icon-zoom-in:before {
  content: "\f00e";
}

.icon-zoom-out:before {
  content: "\f010";
}

.icon-off:before {
  content: "\f011";
}

.icon-signal:before {
  content: "\f012";
}

.icon-cog:before {
  content: "\f013";
}

.icon-trash:before {
  content: "\f014";
}

.icon-home:before {
  content: "\f015";
}

.icon-file:before {
  content: "\f016";
}

.icon-time:before {
  content: "\f017";
}

.icon-road:before {
  content: "\f018";
}

.icon-download-alt:before {
  content: "\f019";
}

.icon-download:before {
  content: "\f01a";
}

.icon-upload:before {
  content: "\f01b";
}

.icon-inbox:before {
  content: "\f01c";
}

.icon-play-circle:before {
  content: "\f01d";
}

.icon-repeat:before {
  content: "\f01e";
}

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before {
  content: "\f021";
}

.icon-list-alt:before {
  content: "\f022";
}

.icon-lock:before {
  content: "\f023";
}

.icon-flag:before {
  content: "\f024";
}

.icon-headphones:before {
  content: "\f025";
}

.icon-volume-off:before {
  content: "\f026";
}

.icon-volume-down:before {
  content: "\f027";
}

.icon-volume-up:before {
  content: "\f028";
}

.icon-qrcode:before {
  content: "\f029";
}

.icon-barcode:before {
  content: "\f02a";
}

.icon-tag:before {
  content: "\f02b";
}

.icon-tags:before {
  content: "\f02c";
}

.icon-book:before {
  content: "\f02d";
}

.icon-bookmark:before {
  content: "\f02e";
}

.icon-print:before {
  content: "\f02f";
}

.icon-camera:before {
  content: "\f030";
}

.icon-font:before {
  content: "\f031";
}

.icon-bold:before {
  content: "\f032";
}

.icon-italic:before {
  content: "\f033";
}

.icon-text-height:before {
  content: "\f034";
}

.icon-text-width:before {
  content: "\f035";
}

.icon-align-left:before {
  content: "\f036";
}

.icon-align-center:before {
  content: "\f037";
}

.icon-align-right:before {
  content: "\f038";
}

.icon-align-justify:before {
  content: "\f039";
}

.icon-list:before {
  content: "\f03a";
}

.icon-indent-left:before {
  content: "\f03b";
}

.icon-indent-right:before {
  content: "\f03c";
}

.icon-facetime-video:before {
  content: "\f03d";
}

.icon-picture:before {
  content: "\f03e";
}

.icon-pencil:before {
  content: "\f040";
}

.icon-map-marker:before {
  content: "\f041";
}

.icon-adjust:before {
  content: "\f042";
}

.icon-tint:before {
  content: "\f043";
}

.icon-edit:before {
  content: "\f044";
}

.icon-share:before {
  content: "\f045";
}

.icon-check:before {
  content: "\f046";
}

.icon-move:before {
  content: "\f047";
}

.icon-step-backward:before {
  content: "\f048";
}

.icon-fast-backward:before {
  content: "\f049";
}

.icon-backward:before {
  content: "\f04a";
}

.icon-play:before {
  content: "\f04b";
}

.icon-pause:before {
  content: "\f04c";
}

.icon-stop:before {
  content: "\f04d";
}

.icon-forward:before {
  content: "\f04e";
}

.icon-fast-forward:before {
  content: "\f050";
}

.icon-step-forward:before {
  content: "\f051";
}

.icon-eject:before {
  content: "\f052";
}

.icon-chevron-left:before {
  content: "\f053";
}

.icon-chevron-right:before {
  content: "\f054";
}

.icon-plus-sign:before {
  content: "\f055";
}

.icon-minus-sign:before {
  content: "\f056";
}

.icon-remove-sign:before {
  content: "\f057";
}

.icon-ok-sign:before {
  content: "\f058";
}

.icon-question-sign:before {
  content: "\f059";
}

.icon-info-sign:before {
  content: "\f05a";
}

.icon-screenshot:before {
  content: "\f05b";
}

.icon-remove-circle:before {
  content: "\f05c";
}

.icon-ok-circle:before {
  content: "\f05d";
}

.icon-ban-circle:before {
  content: "\f05e";
}

.icon-arrow-left:before {
  content: "\f060";
}

.icon-arrow-right:before {
  content: "\f061";
}

.icon-arrow-up:before {
  content: "\f062";
}

.icon-arrow-down:before {
  content: "\f063";
}

.icon-share-alt:before {
  content: "\f064";
}

.icon-resize-full:before {
  content: "\f065";
}

.icon-resize-small:before {
  content: "\f066";
}

.icon-plus:before {
  content: "\f067";
}

.icon-minus:before {
  content: "\f068";
}

.icon-asterisk:before {
  content: "\f069";
}

.icon-exclamation-sign:before {
  content: "\f06a";
}

.icon-gift:before {
  content: "\f06b";
}

.icon-leaf:before {
  content: "\f06c";
}

.icon-fire:before {
  content: "\f06d";
}

.icon-eye-open:before {
  content: "\f06e";
}

.icon-eye-close:before {
  content: "\f070";
}

.icon-warning-sign:before {
  content: "\f071";
}

.icon-plane:before {
  content: "\f072";
}

.icon-calendar:before {
  content: "\f073";
}

.icon-random:before {
  content: "\f074";
}

.icon-comment:before {
  content: "\f075";
}

.icon-magnet:before {
  content: "\f076";
}

.icon-chevron-up:before {
  content: "\f077";
}

.icon-chevron-down:before {
  content: "\f078";
}

.icon-retweet:before {
  content: "\f079";
}

.icon-shopping-cart:before {
  content: "\f07a";
}

.icon-folder-close:before {
  content: "\f07b";
}

.icon-folder-open:before {
  content: "\f07c";
}

.icon-resize-vertical:before {
  content: "\f07d";
}

.icon-resize-horizontal:before {
  content: "\f07e";
}

.icon-bar-chart:before {
  content: "\f080";
}

.icon-twitter-sign:before {
  content: "\f081";
}

.icon-facebook-sign:before {
  content: "\f082";
}

.icon-camera-retro:before {
  content: "\f083";
}

.icon-key:before {
  content: "\f084";
}

.icon-cogs:before {
  content: "\f085";
}

.icon-comments:before {
  content: "\f086";
}

.icon-thumbs-up:before {
  content: "\f087";
}

.icon-thumbs-down:before {
  content: "\f088";
}

.icon-star-half:before {
  content: "\f089";
}

.icon-heart-empty:before {
  content: "\f08a";
}

.icon-signout:before {
  content: "\f08b";
}

.icon-linkedin-sign:before {
  content: "\f08c";
}

.icon-pushpin:before {
  content: "\f08d";
}

.icon-external-link:before {
  content: "\f08e";
}

.icon-signin:before {
  content: "\f090";
}

.icon-trophy:before {
  content: "\f091";
}

.icon-github-sign:before {
  content: "\f092";
}

.icon-upload-alt:before {
  content: "\f093";
}

.icon-lemon:before {
  content: "\f094";
}

.icon-phone:before {
  content: "\f095";
}

.icon-check-empty:before {
  content: "\f096";
}

.icon-bookmark-empty:before {
  content: "\f097";
}

.icon-phone-sign:before {
  content: "\f098";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-github:before {
  content: "\f09b";
}

.icon-unlock:before {
  content: "\f09c";
}

.icon-credit-card:before {
  content: "\f09d";
}

.icon-rss:before {
  content: "\f09e";
}

.icon-hdd:before {
  content: "\f0a0";
}

.icon-bullhorn:before {
  content: "\f0a1";
}

.icon-bell:before {
  content: "\f0a2";
}

.icon-certificate:before {
  content: "\f0a3";
}

.icon-hand-right:before {
  content: "\f0a4";
}

.icon-hand-left:before {
  content: "\f0a5";
}

.icon-hand-up:before {
  content: "\f0a6";
}

.icon-hand-down:before {
  content: "\f0a7";
}

.icon-circle-arrow-left:before {
  content: "\f0a8";
}

.icon-circle-arrow-right:before {
  content: "\f0a9";
}

.icon-circle-arrow-up:before {
  content: "\f0aa";
}

.icon-circle-arrow-down:before {
  content: "\f0ab";
}

.icon-globe:before {
  content: "\f0ac";
}

.icon-wrench:before {
  content: "\f0ad";
}

.icon-tasks:before {
  content: "\f0ae";
}

.icon-filter:before {
  content: "\f0b0";
}

.icon-briefcase:before {
  content: "\f0b1";
}

.icon-fullscreen:before {
  content: "\f0b2";
}

.icon-group:before {
  content: "\f0c0";
}

.icon-link:before {
  content: "\f0c1";
}

.icon-cloud:before {
  content: "\f0c2";
}

.icon-beaker:before {
  content: "\f0c3";
}

.icon-cut:before {
  content: "\f0c4";
}

.icon-copy:before {
  content: "\f0c5";
}

.icon-paper-clip:before {
  content: "\f0c6";
}

.icon-save:before {
  content: "\f0c7";
}

.icon-sign-blank:before {
  content: "\f0c8";
}

.icon-reorder:before {
  content: "\f0c9";
}

.icon-list-ul:before {
  content: "\f0ca";
}

.icon-list-ol:before {
  content: "\f0cb";
}

.icon-strikethrough:before {
  content: "\f0cc";
}

.icon-underline:before {
  content: "\f0cd";
}

.icon-table:before {
  content: "\f0ce";
}

.icon-magic:before {
  content: "\f0d0";
}

.icon-truck:before {
  content: "\f0d1";
}

.icon-pinterest:before {
  content: "\f0d2";
}

.icon-pinterest-sign:before {
  content: "\f0d3";
}

.icon-google-plus-sign:before {
  content: "\f0d4";
}

.icon-google-plus:before {
  content: "\f0d5";
}

.icon-money:before {
  content: "\f0d6";
}

.icon-caret-down:before {
  content: "\f0d7";
}

.icon-caret-up:before {
  content: "\f0d8";
}

.icon-caret-left:before {
  content: "\f0d9";
}

.icon-caret-right:before {
  content: "\f0da";
}

.icon-columns:before {
  content: "\f0db";
}

.icon-sort:before {
  content: "\f0dc";
}

.icon-sort-down:before {
  content: "\f0dd";
}

.icon-sort-up:before {
  content: "\f0de";
}

.icon-envelope-alt:before {
  content: "\f0e0";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-undo:before {
  content: "\f0e2";
}

.icon-legal:before {
  content: "\f0e3";
}

.icon-dashboard:before {
  content: "\f0e4";
}

.icon-comment-alt:before {
  content: "\f0e5";
}

.icon-comments-alt:before {
  content: "\f0e6";
}

.icon-bolt:before {
  content: "\f0e7";
}

.icon-sitemap:before {
  content: "\f0e8";
}

.icon-umbrella:before {
  content: "\f0e9";
}

.icon-paste:before {
  content: "\f0ea";
}

.icon-user-md:before {
  content: "\f200";
}

html, body {
  width: 100%;
  min-height: 100%;
  height: 100%;
}

body {
  position: relative;
}

#viewport {
  width: 100%;
  height: 100%;
}

#ace-editor {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
}
