[submodule "web/css/fuelux"]
	path = web/css/fuelux
	url = git://github.com/ExactTarget/fuelux.git
	branch = 73a3c7d6e6dcf91e6a80ec7f9d762b0518e67e78
[submodule "web/css/flatstrap"]
	path = web/css/flatstrap
	url = git://github.com/littlesparkvt/flatstrap.git
	branch = f290bd9011fb8b15c9f01700b8962736fba35335
[submodule "web/css/font-awesome"]
	path = web/css/font-awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
	branch = v3.1.1
[submodule "web/css/bootswatch"]
	path = web/css/bootswatch
	url = git://github.com/thomaspark/bootswatch.git
