[submodule "web/css/bootstrap"]
	path = web/css/bootstrap
	url = https://github.com/rawberg/bootstrap.git
	branch = release-v3.1.1
[submodule "web/css/font-awesome"]
	path = web/css/font-awesome
	url = https://github.com/rawberg/Font-Awesome.git
	branch = release-v4.0.3
[submodule "web/css/lesshat"]
	path = web/css/lesshat
	url = https://github.com/rawberg/lesshat.git
	branch = release-v2.0.15
[submodule "web/libs/codemirror"]
	path = web/libs/codemirror
	url = https://github.com/rawberg/CodeMirror.git
	branch = release-v4.0.3
