@import url(../font-awesome/build/assets/font-awesome/css/font-awesome.css);
/* line 1, ../sass/core/_typography.scss */
#sidebar_left ul li {
  text-align: center;
}

/* line 5, ../sass/core/_typography.scss */
#sidebar_left ul li span {
  font-family: Arial, Helvetica, Tahoma, sans-serif;
  font-size: 13px;
  color: rgba(33, 33, 33, 0.57);
}

/* line 1, ../sass/core/_container.scss */
#sidebar_left {
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #a5a5a5;
}

/* line 1, ../sass/core/_background.scss */
#sidebar_left {
  background-color: #EFEBF2;
}

/* line 5, ../sass/core/_background.scss */
#sidebar_left ul {
  list-style: none;
}

/* line 9, ../sass/core/_background.scss */
#sidebar_left ul li {
  background-color: #EFEBF2;
}

/* line 13, ../sass/core/_background.scss */
#sidebar_left ul li:hover {
  background-color: #FCF7F2;
}

/* line 1, ../sass/core/_spacing.scss */
#sidebar_left ul, #sidebar_left ul li {
  width: 100%;
}

/* line 5, ../sass/core/_spacing.scss */
#sidebar_left ul {
  margin: 0;
}

/* line 63, icons/toolbar/*.png */
.toolbar-sprite, .toolbar-cloud, .toolbar-dashboard, .toolbar-filemanager {
  background-image: url('../images/icons/toolbar-sb3f00fb1cd.png');
  background-repeat: no-repeat;
}

/* line 77, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.toolbar-cloud {
  background-position: 0 0;
}

/* line 77, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.toolbar-dashboard {
  background-position: 0 -25px;
}

/* line 77, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.toolbar-filemanager {
  background-position: 0 -50px;
}

/* line 4, ../sass/_main-toolbar.scss */
header#main_toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
  height: 49px;
  width: 100%;
  background: #201219 url(../images/app-toolbar-bk.png) repeat-x;
  border-top: 1px solid #404040;
}
/* line 15, ../sass/_main-toolbar.scss */
header#main_toolbar ul#toolbar_nav {
  display: block;
  list-style: none;
  height: 30px;
  width: 200px;
  margin: 13px 0 0 28px;
}
/* line 21, ../sass/_main-toolbar.scss */
header#main_toolbar ul#toolbar_nav li {
  float: left;
  width: 47px;
  height: 25px;
}

/* line 1, ../sass/_dashboard.scss */
#dashboard_layout {
  height: 100%;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}

/* line 8, ../sass/_dashboard.scss */
#sidebar_left {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-width: 216px;
  width: 216px;
  min-height: 100%;
  padding-top: 50px;
}
/* line 17, ../sass/_dashboard.scss */
#sidebar_left ul {
  min-width: 216px;
}
/* line 22, ../sass/_dashboard.scss */
#sidebar_left ul li {
  max-width: 215px;
  height: 110px;
  background-image: url(../images/icons/sidebar-left/server-silver-small.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #c1c1c1;
  border-right: 1px solid #a5a5a5;
}
/* line 39, ../sass/_dashboard.scss */
#sidebar_left ul li span {
  position: relative;
  top: 84px;
  cursor: default;
}

/* line 49, ../sass/_dashboard.scss */
#file-manager-layout {
  width: 100%;
  min-height: 100%;
}
/* line 53, ../sass/_dashboard.scss */
#file-manager-layout #file-manager {
  min-height: 500px;
}

/* line 60, ../sass/_dashboard.scss */
#main_content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  padding-top: 50px;
}
/* line 68, ../sass/_dashboard.scss */
#main_content #dash_performance, #main_content #dash_software {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
/* line 75, ../sass/_dashboard.scss */
#main_content #dash_performance {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 260px;
}
/* line 80, ../sass/_dashboard.scss */
#main_content #dash_platform {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 84, ../sass/_dashboard.scss */
#main_content .performance, #main_content .software {
  width: 100%;
  font-size: 13px;
  font-family: "Lucida Grande" sans-serif;
}
/* line 89, ../sass/_dashboard.scss */
#main_content .performance span.label, #main_content .software span.label {
  font-weight: bold;
}
/* line 93, ../sass/_dashboard.scss */
#main_content .performance h2, #main_content .software h2 {
  font-size: 17px;
  font-weight: normal;
  color: #616161;
}
/* line 100, ../sass/_dashboard.scss */
#main_content #dash_performance, #main_content .performance, #main_content #dash_software, #main_content .software {
  background-color: #f5f5f5;
}
/* line 104, ../sass/_dashboard.scss */
#main_content .performance {
  padding: 10px 6px 0px 22px;
}
/* line 106, ../sass/_dashboard.scss */
#main_content .performance .left, #main_content .performance .right {
  display: inline-block;
  position: relative;
  padding-bottom: 0;
  text-align: center;
}
/* line 112, ../sass/_dashboard.scss */
#main_content .performance .left canvas, #main_content .performance .right canvas {
  margin-top: 18px;
  margin-bottom: 7px;
}
/* line 117, ../sass/_dashboard.scss */
#main_content .performance .left span.gauge-text-value, #main_content .performance .right span.gauge-text-value {
  display: inline-block;
  position: absolute;
  text-align: center;
  width: 100px;
  font-family: 'Amaranth',sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
/* line 128, ../sass/_dashboard.scss */
#main_content .performance .left i, #main_content .performance .right i {
  position: absolute;
  font-size: 11px;
}
/* line 133, ../sass/_dashboard.scss */
#main_content .performance .left span.gauge-label, #main_content .performance .right span.gauge-label {
  display: inline-block;
  width: 100%;
  text-align: center;
}
/* line 141, ../sass/_dashboard.scss */
#main_content .performance .left {
  min-width: 31%;
  margin-left: 6%;
  background-color: #f5f5f5;
}
/* line 145, ../sass/_dashboard.scss */
#main_content .performance .left span.statbox {
  display: inline-block;
  padding: 30px 40px;
  margin-bottom: 15px;
  background-color: #F8F8F8;
  border-radius: 6px;
  border: 1px solid rgba(213, 213, 213, 0.53);
  font-family: 'Amaranth',sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}
/* line 160, ../sass/_dashboard.scss */
#main_content .performance .right {
  min-width: 16%;
  background-color: #f5f5f5;
}
/* line 164, ../sass/_dashboard.scss */
#main_content .performance .right span.gauge-text-value {
  top: 55px;
  left: 95px;
}
/* line 169, ../sass/_dashboard.scss */
#main_content .performance .right i {
  bottom: 7px;
}
/* line 175, ../sass/_dashboard.scss */
#main_content .software {
  background-color: #ffffff;
}
/* line 177, ../sass/_dashboard.scss */
#main_content .software h2 {
  padding-left: 20px;
}
/* line 181, ../sass/_dashboard.scss */
#main_content .software .container {
  width: 100%;
  text-align: center;
}
/* line 186, ../sass/_dashboard.scss */
#main_content .software .container span {
  display: block;
  margin-bottom: 10px;
  background-color: transparent;
}
/* line 190, ../sass/_dashboard.scss */
#main_content .software .container span.label {
  color: rgba(51, 51, 51, 0.79);
  text-shadow: none;
}
/* line 196, ../sass/_dashboard.scss */
#main_content .software .container .left {
  display: inline-block;
  min-height: 100%;
  padding-right: 5px;
  text-align: right;
}
/* line 203, ../sass/_dashboard.scss */
#main_content .software .container .right {
  display: inline-block;
  min-height: 100%;
  padding: 0 160px 0 5px;
  text-align: left;
}

/* line 1, ../sass/_login-signup.scss */
.login-signup-layout {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 6, ../sass/_login-signup.scss */
.login-signup-layout .login-signup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -450px;
  width: 900px;
  height: 330px;
  background-color: #F7F7F7;
  border: 1px solid #DDDDDD;
}
/* line 17, ../sass/_login-signup.scss */
.login-signup-layout .login-signup-container h2 {
  display: inline-block;
  margin: 0 0 34px 48px;
  color: #5E5E5E;
}
/* line 23, ../sass/_login-signup.scss */
.login-signup-layout .login-signup-container .alert-container {
  margin: 20px 45px 0 45px;
  min-height: 36px;
}
/* line 26, ../sass/_login-signup.scss */
.login-signup-layout .login-signup-container .alert-container div {
  margin-bottom: 4px;
}
/* line 31, ../sass/_login-signup.scss */
.login-signup-layout .login-signup-container .login-container, .login-signup-layout .login-signup-container .signup-container {
  width: 449px;
  height: 100%;
}
/* line 35, ../sass/_login-signup.scss */
.login-signup-layout .login-signup-container .login-container form, .login-signup-layout .login-signup-container .signup-container form {
  position: relative;
}
/* line 37, ../sass/_login-signup.scss */
.login-signup-layout .login-signup-container .login-container form label, .login-signup-layout .login-signup-container .login-container form input, .login-signup-layout .login-signup-container .login-container form button, .login-signup-layout .login-signup-container .login-container form select, .login-signup-layout .login-signup-container .login-container form textarea, .login-signup-layout .login-signup-container .signup-container form label, .login-signup-layout .login-signup-container .signup-container form input, .login-signup-layout .login-signup-container .signup-container form button, .login-signup-layout .login-signup-container .signup-container form select, .login-signup-layout .login-signup-container .signup-container form textarea {
  font-size: 15px;
}
/* line 41, ../sass/_login-signup.scss */
.login-signup-layout .login-signup-container .login-container form .controls, .login-signup-layout .login-signup-container .signup-container form .controls {
  margin-left: 94px;
}
/* line 45, ../sass/_login-signup.scss */
.login-signup-layout .login-signup-container .login-container form label, .login-signup-layout .login-signup-container .signup-container form label {
  width: 75px;
}
/* line 49, ../sass/_login-signup.scss */
.login-signup-layout .login-signup-container .login-container form button, .login-signup-layout .login-signup-container .signup-container form button {
  padding: 8px 20px 8px;
  line-height: 20px;
}
/* line 56, ../sass/_login-signup.scss */
.login-signup-layout .login-signup-container .login-container {
  float: left;
  border-right: dashed 1px #dedede;
}
/* line 60, ../sass/_login-signup.scss */
.login-signup-layout .login-signup-container .login-container form {
  padding-left: 25px;
}
/* line 63, ../sass/_login-signup.scss */
.login-signup-layout .login-signup-container .login-container form button {
  position: absolute;
  right: 107px;
}
/* line 70, ../sass/_login-signup.scss */
.login-signup-layout .login-signup-container .signup-container {
  float: right;
  border-left: solid 1px #f7f7f7;
}
/* line 74, ../sass/_login-signup.scss */
.login-signup-layout .login-signup-container .signup-container form {
  padding-left: 40px;
}
/* line 76, ../sass/_login-signup.scss */
.login-signup-layout .login-signup-container .signup-container form button {
  position: absolute;
  right: 91px;
}

/* line 1, ../sass/_main-footerbar.scss */
footer {
  width: 100%;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  background-color: #f3f4f4;
  background: linear, top, #f3f4f4, #ebebeb, "left top, left bottom";
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f3f4f4', EndColorStr='#ebebeb');
}
/* line 9, ../sass/_main-footerbar.scss */
footer div#left_sidebar_footerbar, footer div#center_footerbar {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  border-top: 1px solid #d4d4d4;
}
/* line 16, ../sass/_main-footerbar.scss */
footer #left_sidebar_footerbar {
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0;
  min-width: 216px;
  width: 216px;
  border-right: 1px solid #a5a5a5;
}
/* line 21, ../sass/_main-footerbar.scss */
footer #left_sidebar_footerbar ul {
  list-style: none;
  margin: 0;
}
/* line 24, ../sass/_main-footerbar.scss */
footer #left_sidebar_footerbar ul li {
  width: 30px;
  line-height: 24px;
  padding-top: 3px;
  border-right: 1px solid #c5c5c5;
  text-align: center;
}
/* line 31, ../sass/_main-footerbar.scss */
footer #left_sidebar_footerbar ul li a i {
  color: #424242;
}
/* line 35, ../sass/_main-footerbar.scss */
footer #left_sidebar_footerbar ul li a:hover {
  cursor: default;
  text-decoration: none;
}
/* line 38, ../sass/_main-footerbar.scss */
footer #left_sidebar_footerbar ul li a:hover i {
  color: #707070;
}
/* line 45, ../sass/_main-footerbar.scss */
footer #center_footerbar {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* line 2, ../sass/_modals.scss */
div.modal-footer.plain {
  background-color: transparent;
  border-top: none;
}

/* line 7, ../sass/_modals.scss */
#modal_add_server {
  width: 500px;
  margin: 0 0 0 -250px;
}

/* line 14, ../sass/_modals.scss */
.noobtour-backdrop.body-minus-footer {
  bottom: 28px;
}
/* line 18, ../sass/_modals.scss */
.noobtour-backdrop.footer-minus-add-server {
  top: 28px;
  bottom: 0px;
  left: 31px;
}

/* line 26, ../sass/_modals.scss */
.noobtour-popover.popover.top .arrow {
  left: 0 !important;
  margin-left: 0 !important;
}

/* line 33, ../sass/_modals.scss */
#server-connection-modal {
  width: 590px;
}
/* line 35, ../sass/_modals.scss */
#server-connection-modal h3, #server-connection-modal span.connection-status {
  text-transform: capitalize;
}

/* line 2, ../sass/_contextmenu.scss */
body > div._contextmenu_screen_ {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  display: none;
  opacity: 1.0;
  -webkit-transition: opacity 0.15s linear;
  overflow: hidden;
  z-index: 120000;
}
/* line 15, ../sass/_contextmenu.scss */
body > menu {
  display: none;
}

/* line 21, ../sass/_contextmenu.scss */
._contextmenu_screen_ menu {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 22, ../sass/_contextmenu.scss */
._contextmenu_screen_ menu.fadeout {
  -webkit-transition: opacity 0.15s linear;
}
/* line 30, ../sass/_contextmenu.scss */
._contextmenu_screen_ menuitem {
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* line 35, ../sass/_contextmenu.scss */
._contextmenu_screen_ menuitem:before {
  content: attr(label);
}
/* line 39, ../sass/_contextmenu.scss */
._contextmenu_screen_ > menu {
  position: fixed;
  display: none;
  cursor: default;
  z-Index: 30000;
  user-select: none;
  -webkit-user-select: none;
  list-style: none;
}
/* line 49, ../sass/_contextmenu.scss */
._contextmenu_screen_ menu * {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}
/* line 54, ../sass/_contextmenu.scss */
._contextmenu_screen_ menu menuitem {
  -webkit-user-drag: none;
}

/* line 61, ../sass/_contextmenu.scss */
.win7 ._contextmenu_screen_ menu {
  background: #f0f0f0 url(../images/repeat-y.png?) repeat-y;
  font-family: 'Segoe UI';
  font-size: 13px;
  padding: 4px 2px 2px 2px;
  /* text-rendering: optimizeLegibility; */
  -webkit-font-smoothing: subpixel-antialiased;
  border: 1px solid #a0a0a0;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: black;
}
/* line 73, ../sass/_contextmenu.scss */
.win7 menu menuitem {
  padding: 0px 5px 0px 32px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid transparent;
}
/* line 78, ../sass/_contextmenu.scss */
.win7 menu menuitem:hover {
  border: 1px solid #b3d0f5;
  background-color: rgba(172, 201, 255, 0.05);
}
/* line 82, ../sass/_contextmenu.scss */
.win7 menu menuitem[open=true] {
  border: 1px solid #b3d0f5;
  background-color: rgba(172, 201, 255, 0.05);
}
/* line 87, ../sass/_contextmenu.scss */
.win7 menu hr {
  height: 0px;
  border: none;
  border-bottom: 1px solid white;
  border-top: 1px solid #e0e0e0;
  margin: 4px;
  margin-left: 27px;
}
/* line 96, ../sass/_contextmenu.scss */
.win7 ._contextmenu_screen_ menu > .submenu:after {
  content: " ";
  display: block;
  width: 4px;
  height: 7px;
  background: url(data:image/gif;base64,R0lGODlhBAAHAIABACgoKP///yH5BAEAAAEALAAAAAAEAAcAAAIIRA4WaeyrVCgAOw==) no-repeat;
  float: right;
  position: relative;
  left: 0px;
  top: 6px;
}

/* line 110, ../sass/_contextmenu.scss */
.osx10_7 ._contextmenu_screen_ > menu {
  background-color: rgba(255, 255, 255, 0.94902);
  -moz-background-clip: padding;
  /* Firefox 3.6 */
  -webkit-background-clip: padding;
  /* Safari 4? Chrome 6? */
  background-clip: padding-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */
  color: black;
  font-family: 'Lucida Grande';
  border-top: 1px solid rgba(0, 0, 0, 0.08627);
  border-left: 1px solid rgba(0, 0, 0, 0.23137);
  border-right: 1px solid rgba(0, 0, 0, 0.23137);
  border-bottom: 1px solid rgba(0, 0, 0, 0.41176);
  border-radius: 5px;
  padding: 4px 0;
  -webkit-box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
/* line 130, ../sass/_contextmenu.scss */
.osx10_7 ._contextmenu_screen_ > menu.submenu {
  border-top-left-radius: 0px;
}
/* line 136, ../sass/_contextmenu.scss */
.osx10_7 ._contextmenu_screen_ menu > .submenu:after {
  content: "\25B6";
  float: right;
  position: relative;
  left: 14px;
  top: 2px;
  font-size: 12px;
  color: #404040;
}
/* line 145, ../sass/_contextmenu.scss */
.osx10_7 ._contextmenu_screen_ menu > .submenu:hover:after, .osx10_7 ._contextmenu_screen_ menu > .submenu[open=true]:after {
  color: white;
}
/* line 149, ../sass/_contextmenu.scss */
.osx10_7 ._contextmenu_screen_ menu menuitem {
  height: 19px;
  padding: 0px 19px 0px 21px;
}
/* line 152, ../sass/_contextmenu.scss */
.osx10_7 ._contextmenu_screen_ menu menuitem:hover, .osx10_7 ._contextmenu_screen_ menu menuitem.submenu[open=true] {
  background: #3c6ff7 url(../images/repeat-x.png) repeat-x;
  color: white;
}
/* line 157, ../sass/_contextmenu.scss */
.osx10_7 ._contextmenu_screen_ menu hr {
  height: 0px;
  border: none;
  /* results in background: #e3e3e3; */
  border-bottom: 1px solid #e4e4e4;
  margin: 5px 1px 6px 1px;
}

/* line 26, ../sass/screen.scss */
html {
  width: 100%;
  min-height: 100%;
  height: 100%;
}

/* line 32, ../sass/screen.scss */
body {
  position: relative;
  height: 100%;
}

/* line 37, ../sass/screen.scss */
#viewport {
  width: 100%;
  height: 100%;
  margin-bottom: -30px;
}

/* line 43, ../sass/screen.scss */
#ace-editor {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
}
