// Base Modal Styles
#modal-container {
    display: none;

    &.modal-backdrop {
        opacity: 0.6;
    }

    .modal-dialog {
        padding-top: 70px;
    }

    .modal-content {
        border-radius: 4px;
    }

    .modal-title {
        color: #000000;
    }
}

// Add/Edit Server Modal
.modal-dialog.modal-add-edit-server {
    width: 500px;

    .modal-header {
        padding-left: 20px;
    }

    .modal-body {
        padding: 20px 40px;
    }
}


// Server Connection Modal
#server-connection-modal {
  width: 590px;
  h3, span.connection-status {
    text-transform: capitalize;
  }
}


// Noob Tour Styles
.modal-backdrop.noobtour-backdrop {
    &.body-minus-footer {
        bottom: 28px;
    }

    &.footer-minus-add-server {
        top: inherit;
        bottom:  0px;
        left: 30px;
        height: 28px;
    }
}

.noobtour-popover.popover.top {
    .arrow {
        left:  0 !important;
        margin-left: 0 !important;
        &:after {
            bottom: 2px;
            margin-left: -9px;
        }
    }
}
