
/* Compass Mixins
-------------------------------------------------- */
@import "compass/css3/border-radius";
@import "compass/css3/flexbox";
@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "compass/utilities/sprites";


/* Bootstrap Styles
-------------------------------------------------- */
// Core variables and mixins
@import "variables";
@import "mixins";

// Reset
@import "normalize";
@import "print";

// Core CSS
@import "scaffolding";
@import "type";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";

// Components
@import "component-animations";
@import "glyphicons";
@import "dropdowns";
@import "button-groups";
@import "input-groups";
@import "navs";
@import "navbar";
@import "breadcrumbs";
@import "pagination";
@import "pager";
@import "labels";
@import "badges";
@import "jumbotron";
@import "thumbnails";
@import "alerts";
@import "progress-bars";
@import "media";
@import "list-group";
@import "panels";
@import "wells";
@import "close";

// Components w/ JavaScript
@import "modals";
@import "tooltip";
@import "popovers";
@import "carousel";

// Utility classes
@import "utilities";
@import "responsive-utilities";


/* Application Core Styles
-------------------------------------------------- */
@import "core/typography";
@import "core/container";
@import "core/background";
@import "core/foreground";
@import "core/spacing";


/* Application Component Styles
-------------------------------------------------- */
@import "components";
@import "main-toolbar";
@import "dashboard";
@import "filemanager";
@import "login-signup";
@import "main-footerbar";
@import "modals";
@import "contextmenu"; // converted from lib/contextmenu/contextmenu.css (via sass-convert)


// Font Awesome
@import "../font-awesome/build/assets/font-awesome/css/font-awesome.css";

html {
    width: 100%;
	min-height:100%;
  	height:100%;
    cursor: default;
}

body {
  position: relative;
  height:100%;
  cursor: default;
}

ul {
    margin: 0;
    padding: 0;
}

#viewport {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin-bottom: -30px;
}

#main_content {
  @include flex(1);
  padding-top: 50px;
  // clears top toolbar
}

#sidebar_left {
  @extend %offwhite-background;
  @extend %side-panel-container;
  min-width: 216px;
  width: 216px;
  min-height: 100%;
  padding-top: 50px;

  ul {
    @extend %list-spacing;
    @extend %list-background;
    position: fixed;
    min-width: 216px;

    li {
      @extend %full-width-spacing;
      @extend %centered-text;

      max-width: 215px;
      // allow 1px for right border
      height: 110px;
      background-image: url(../images/icons/sidebar-left/server-silver-small.png);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      @extend %side-panel-background;
      border-bottom: 1px solid #c1c1c1;
      border-right: 1px solid #a5a5a5;

      &:hover {
        @extend %side-panel-hover-background;
      }

      span {
        position: relative;
        top: 84px;
        @extend %side-panel-text;
        cursor: default;
      }
    }
  }
}

#ace-editor {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}