%offwhite-background {
  background-color: #EFEBF2;
}

%list-background {
  list-style: none;
}

%side-panel-background {
  background-color: #EFEBF2;
}

%side-panel-hover-background {
  background-color: #FCF7F2;
}