<nav id="main-toolbar">
    <ul class="toolbar-nav">
        <li class="toolbar-server_rack"><a href="#"></a></li>
        <li class="toolbar-server-toggle"><select class="form-control"><option>Select/Add Server</option></select></li>
        <li class="toolbar-separator"></li>
        <li class="toolbar-dashboard"><a href="#dashboard"></a></li>
        <li class="toolbar-file_cabinet"><a href="#filemanager"></a></li>
        <li class="toolbar-gear"><a href="#settings"></a></li>
        <li class="toolbar-separator"></li>
    </ul>
</nav>