<table>
    <tbody>
    <tr>
        <th><img src="/apaxy/demo/theme/icons/blank.png" alt="[ICO]"></th>
        <th><a href="?C=N;O=D">Name</a></th>
        <th><a href="?C=M;O=A">Last modified</a></th>
        <th><a href="?C=S;O=A">Size</a></th>
    </tr>
    <tr class="parent">
        <td valign="top"><img src="/apaxy/demo/theme/icons/folder-home.png" alt="[DIR]"></td>
        <td><a href="/apaxy/">Parent Directory</a></td>
        <td>&nbsp;</td>
        <td align="right"> -</td>
    </tr>
    </tbody>
</table>