.directory-explorer {
  width: 100%;
  table-layout: fixed;

  thead {
    th:first-of-type {
      max-width: 80px;
      min-width: 80px;
      width: 80px;
    }

    th {
      text-align: left;
      font-size: 15px;
      color: #807B7B;
      width: 100%;
      height: 24px;
      cursor: default;
    }
  }

  tr {
    td:first-of-type {
      min-width: 80px;
      max-width: 80px;
      width: 80px;
      text-align: center;
    }
  }

  td {
    text-overflow: ellipsis;
    height: 26px;
    cursor: default;

    .icon-mode-41471:before {
      content: "\f016";
    }

    .icon-mode-16877:before {
      content: "\f07b";
    }

    [class^="icon-"] {
      display: inline;
      font-size: 15px;
    }

  }
}

.directory-explorer.table-striped tbody > tr:nth-child(odd) > td,
.directory-explorer.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f3f6fa;
}

.directory-explorer.table-hover tbody tr:hover > td,
.directory-explorer.table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}