#dashboard_layout {
  height: 100%;
  @include display-flex;
  @include flex-direction(row);
  @include align-items(stretch);
}

#sidebar_left {
  @extend %offwhite-background;
  @extend %side-panel-container;
  @include display-flex;
  min-width: 216px;
  width: 216px;
  min-height: 100%;
  padding-top: 50px;

  ul {
    @extend %list-spacing;
    @extend %list-background;
    min-width: 216px;

    li {
      @extend %full-width-spacing;
      @extend %centered-text;

      max-width: 215px; // allow 1px for right border
      height: 110px;
      background-image: url(../images/icons/sidebar-left/server-silver-small.png);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      @extend %side-panel-background;
      border-bottom: 1px solid #c1c1c1;
      border-right: 1px solid #a5a5a5;

      &:hover {
        @extend %side-panel-hover-background;
      }

      span {
        position: relative;
        top: 84px;
        @extend %side-panel-text;
        cursor: default;
      }
    }
  }
}

#file-manager-layout {
  width: 100%;
  min-height:100%;

  #file-manager {
    min-height: 500px;
  }
}



#main_content {
  @include flex(1);
  @include display-flex;
  @include flex-direction(column);
  @include align-items(stretch);


  #dash_performance, #dash_services, #dash_software {
    @include display-flex;
    @include flex-direction(row);
    @include align-items(stretch);

  }

  #dash_performance {
    //@include flex(16);
  }

  .performance, .services, .software {
    @include flex(1);
    @include display-flex;

    padding: 19px 6px 0px 22px;
    height: 100%;
    font-size: 13px;
    font-family: "Lucida Grande" sans-serif;

    span.label {
      font-weight: bold;
    }

    h2 {
      display: inline-block;
      font-size: 17px;
      font-weight: normal;
      color: #616161;
    }
  }

  #dash_performance, .performance, #dash_software, .software {
    background-color: #f5f5f5;
  }

  .performance {
    @include flex-direction(row);
    @include align-items(stretch);
    @include justify-content(left);
    max-height: 240px;
    .left, .right {
      position: relative;
      min-height: 160px;
      padding-bottom: 0;
      text-align: center;
      canvas {
        margin-top: 56px;
        margin-bottom: 7px;
      }

      span.gauge-text-value {
        display: block;
        position: relative;
        font-family: 'Amaranth',sans-serif;
        font-size: 24px;
        font-weight: bold;
      }

      i {
        position: relative;
        font-size: 11px;
      }

      span.gauge-label {
        display: block;
        position: relative;
        bottom: 36px;
      }

    }

    .left {
      min-width: 31%;
      margin-left: 6%;
      background-color: #f5f5f5;

      span.gauge-text-value {
        bottom: 71px;
        left: 0px;
      }

      i {
        bottom: 96px;
        left: 30px;
      }
    }

    .right {
      min-width: 16%;
      background-color: #f5f5f5;

      span.gauge-text-value {
        bottom: 71px;
        left: 0;
      }

      i {
        bottom: 97px;
        left: 21px;
      }

    }
  }

  .services {
    @include flex-direction(column);
    @include align-items(stretch);
    color: #020001;
    background-color: #ffffff;
    .container {
      @include display-flex;
      @include align-items(center);
      @include flex-direction(row);
      @include justify-content(center);
      width: 100%;
      height: 100%;
      span {
        display: block;
        margin-bottom: 8px;
      }
      .col {
        min-width: 135px;
        height: 100%;
        padding-top: 30px;
      }
    }
  }

  .software {
    @include flex-direction(column);
    @include align-items(stretch);
    @include justify-content(center);
    background-color: #ffffff;
    position: relative;
    h2 {
      position: absolute;
      top: 19px;
    }

    .container {
      @include display-flex;
      @include align-items(stretch);
      @include justify-content(center);
      @include flex-direction(row);
      width: 100%;
      margin-bottom: 25px;
      span {
        display: block;
        margin-bottom: 10px;
      }

      .left {
        min-height: 100%;
        margin-left: -15%;
        padding-right: 5px;
        text-align: right;
      }

      .right {
        min-height: 100%;
        padding-left: 5px;
        text-align: left;
      }
    }
  }
}