<div class="modal-content">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" href="#">×</a>
        <h4 class="modal-title"><%= operationLabel %> server</h4>
    </div>
    <div class="modal-body">
        <form action="#" autocomplete="on" role="form" onSubmit="return false;">
            <fieldset>
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control input-sm" name="name" autofocus="true">
                </div>
                <div class="form-group">
                  <label>IP Address</label>
                  <input type="text" class="form-control input-sm" name="ipv4">
                </div>
            </fieldset>
            <!--<fieldset>-->
                <!--<legend>Authentication</legend>-->
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control input-sm" name="username">
                </div>
                <div class="form-group">
                  <label>SSH Key</label>
                  <div class="input-group input-group-sm">
                      <span class="input-group-addon"><input type="checkbox" name="auth_key" checked></span>
                      <input type="text" name="ssh_keypath" class="form-control">
                      <span class="input-group-btn">
                        <button name="change" class="btn btn-default" type="button">Change</button>
                      </span>
                  </div>
                  <div class="input-group input-group-sm">
                    <input type="file" nwworkingdir="" style="display:none;">
                  </div>
                </div>
            <!--</fieldset>-->
        </form>
    </div>
    <div class="modal-footer">
        <button name="cancel" type="button" class="btn btn-default">Cancel</button>
        <button name="save" type="button" class="btn btn-primary">Save</button>
    </div>
</div>