<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body connection-error">
        <p>Error connecting to <span class="server-name"></span>.</p>
        <h5>Troubleshooting Tips:</h5>
        <ul>
            <li>Make sure ssh is listening for connections on port <span class="server-port"></span>.</li>
            <li>Make sure the server at (<span class="server-addr"></span>) can be accessed from <%= access_location %>.</li>
        </ul>
    </div>
    <div class="modal-footer plain">
        <button name="cancel" type="button" class="btn btn-default">Cancel</button>
    </div>
 </div>