<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body password-required">
        <p>Enter SSH password for <span class="server-username"></span> user on <span class="server-name"></span>.</p>
        <form action="#" autocomplete="off" role="form" onSubmit="return false;">
            <fieldset>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control input-sm" name="ssh_password" autofocus="true">
                  <span class="help-block">Password will not be saved anywhere</span>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button name="cancel" type="button" class="btn btn-default">Cancel</button>
        <button name="connect" type="button" class="btn btn-primary">Connect</button>
    </div>
 </div>