footer {
    width: 100%;
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
    background-color: #f3f4f4;
    @include background(linear,top,rgb(243, 244, 244),rgb(235, 235, 235),'left top, left bottom');
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f3f4f4', EndColorStr='#ebebeb');
    div {
        @include display-box;
        @include box-sizing(border-box);
        @include box-orient(horizontal);
        @include box-align(stretch);        
        height: 21px;
        border-top: 1px solid #d4d4d4;
    }
    #left_sidebar_footerbar {
        @include box-flex(0);
        min-width: 216px;
        width: 216px;
        ul {
            list-style: none;
            margin: 0;
            //padding-top: 2px;
            li {
                width: 30px;
                border-right: 1px solid #c5c5c5;
                text-align: center;
                i {
                    padding-top: 3px;
                }
                a {
                    i {
                        color: #424242;     
                    }                
                }
                a:hover {
                    cursor: default;
                    text-decoration: none;
                    i {
                        color: #707070;
                    }
                }                
            }
        }
    }
    #main_footerbar {
        @include box-flex(1);       
        width: 100%;
        min-width: 100%;
        border-left: 1px solid #a5a5a5;
    }

}