@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box";
@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "compass/utilities/sprites";

// Application Components
@import "main-toolbar";
@import "dashboard";
@import "login-signup";
@import "main-footerbar";
@import "modals";
@import "contextmenu"; // converted from lib/contextmenu/contextmenu.css (via sass-convert)


// Twitter Bootstrap Styles
@import "../sass-twitter-bootstrap/lib/variables";
@import "../sass-twitter-bootstrap/lib/mixins";
@import "../sass-twitter-bootstrap/lib/utilities";
//@import "../sass-twitter-bootstrap/lib/reset";
@import "../sass-twitter-bootstrap/lib/layouts";
@import "../sass-twitter-bootstrap/lib/scaffolding";
@import "../sass-twitter-bootstrap/lib/buttons";
@import "../sass-twitter-bootstrap/lib/type";
@import "../sass-twitter-bootstrap/lib/alerts";
@import "../sass-twitter-bootstrap/lib/close";
@import "../sass-twitter-bootstrap/lib/forms";
@import "../sass-twitter-bootstrap/lib/modals";
@import "../sass-twitter-bootstrap/lib/component-animations";

// Font Awesome
@import "../font-awesome/sass/font-awesome.scss";




html, body {
    width: 100%;
	min-height:100%;
  	height:100%;
}

#viewport {
    width: 100%;
    height: 100%;
}